@use "variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: $primary-colors-background-color;
}

p {
  line-height: 1.75rem;
}

.benefits {
  text-align: center;
  font-weight: 400;
  font-family: 'Public Sans', sans-serif;
  .benefits__wrapper {
    display: grid;
    gap: 3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    .benefit-card__img {
      padding: 1.5rem;
    }
    .benefit-card__heading {
      color: $secondary-colors-san-juan-blue;
      font-size: 1.125rem;
      font-weight: bold;
    }
    .benefit-card__text {
      color: $secondary-colors-light-juan-blue;
    }
  }
}

