@use "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: none !important;
}

body {
  background-color: $primary-colors-background-color;
}

p {
  line-height: 1.75rem;
}

.benefits {
  text-align: center;

  .benefits__wrapper {
    display: grid;
    gap: 3rem;

    .benefit-card__img {
      padding: 1.4rem;
    }

    .benefit-card__heading {
      color: $secondary-colors-san-juan-blue;
      font-family: 'Public Sans';
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
    }

    .benefit-card__text {
      color: $secondary-colors-light-juan-blue;
      font-family: 'Public Sans';
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5625rem;
    }
  }
}

.simple {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;

  .simple__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .simple__img {
      // margin-left: 2.5rem;
      filter: drop-shadow(25px 25px 80px rgba(54, 83, 107, 0.322));
    }

    .simple__heading {
      color: $secondary-colors-san-juan-blue;
    }

    .simple__text {
      font-family: 'Public Sans', sans-serif;
      color: $secondary-colors-light-juan-blue;
      max-width: 573px;
    }
  }
}

.easy {
  padding-top: 3rem;
  text-align: center;

  .easy__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .easy__img {
      // margin-left: 2.5rem;
      filter: drop-shadow(25px 25px 80px rgba(54, 83, 107, 0.322));
    }

    .easy__heading {
      color: $secondary-colors-san-juan-blue;
    }

    .easy__text {
      font-family: 'Public Sans', sans-serif;
      color: $secondary-colors-light-juan-blue;
      max-width: 573px;
    }
  }
}

.about__container,
.culture,
.people {
  text-align: center;
}

.about__heading {
  font-family: 'DM Serif Display', serif;
  ;
  letter-spacing: 1.25px;
  color: $secondary-colors-san-juan-blue;
  margin-bottom: 3rem;
  font-style: normal;
  font-weight: 400;
}

.our-vision__heading,
.our-business__heading,
.culture__heading,
.people__heading {
  font-size: 2rem;
  white-space: nowrap;
  font-family: 'DM Serif Display', serif;
  color: $secondary-colors-san-juan-blue;
  font-style: normal;
  font-weight: 400;
}

.our-business__description,
.our-vision__description,
.culture__description,
.people__description {
  font-family: 'Public Sans', sans-serif;
  color: $secondary-colors-light-juan-blue;
}