/* Styles for Mobile */
@media only screen and (min-width: 375px) and (max-width: 767.5px) {

  //      TEXT AND IMAGES SECTIONS  
  .benefits__wrapper {
    max-width: 460px;
  }

  .simple__heading {
    font-size: 36px;
    margin-top: -1rem;
  }

  .simple__text {
    max-width: 460px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .easy__heading {
    font-size: 36px;
    margin-top: -1rem;
  }

  .easy__text {
    max-width: 460px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .about__heading {
    font-size: 2rem;
    margin-top: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    line-height: 2.5rem;
  }

  .our-vision,
  .our-business,
  .culture,
  .people {
    margin-bottom: 3rem;
    margin-top: 3rem;

    .our-vision__heading,
    .our-business__heading,
    .culture__heading,
    .people__heading {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    .our-vision__description,
    .our-business__description,
    .culture__description,
    .people__description {
      margin-right: 1.5rem;
      margin-left: 1.5rem;
    }


  }

  .team_numbers_image {
    background-image: url(/assets/about/mobile/image-team-members.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 4.75rem;
  }

  .team__numbers__grids {
    border-top: 1px solid rgba(54, 83, 107, 0.25);
    margin-top: 3rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-bottom: 1px solid rgba(54, 83, 107, 0.25);

    p {
      color: $secondary-colors-san-juan-blue ;
      text-align: center;
      font-family: 'Public Sans';
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.75rem;
    }

    .team__numbers {
      color: $primary-colors-dark-pink;
      text-align: center;
      font-family: 'DM Serif Display';
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 4.5rem;
      letter-spacing: -0.02694rem;
    }
  }
}



/* Styles for Tablet */
@media only screen and (min-width: 768px) and (max-width: 1439.5px) {

  //      NAVBAR PART
  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    list-style-type: none;

    a {
      font-weight: 700;
      padding-right: 2.5rem;
      text-decoration: none;
      color: $secondary-colors-san-juan-blue;
      padding: 1rem;
      font-size: 0.9375rem;
      font-family: "Public Sans";
      opacity: 0.7;

      &:hover {
        color: $secondary-colors-san-juan-blue;
        opacity: 1;
      }
    }
  }

  .mobile__btn {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 40px 30px 39px;

    .menu {
      align-self: center;
    }
  }

  .logo {
    margin: 0.2rem 0 0 2.44rem;
  }

  .bttn {
    width: 173px;
    height: 48px;
    border-radius: 24px;
    background: $primary-colors-dark-pink;
    box-shadow: 10px 10px 25px -10px #36536b40;
    margin-right: 2.5rem;

    &:active {
      box-shadow: 0 1px #666;
      transform: translateY(4px);
    }
  }

  //      TEXT AND IMAGES SECTIONS  

  .benefits__wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625rem;
    max-width: 720px;
  }

  .simple__heading {
    font-size: 48px;
    margin-top: -3rem;
  }

  .simple__img {
    max-height: 100%;
    width: auto;
  }

  .easy__heading {
    font-size: 48px;
    margin-top: -3rem;
  }

  .about__heading {
    font-size: 3rem;
    margin-top: 5rem;
    margin-left: 6rem;
    margin-right: 6rem;
    line-height: 3.5rem;
  }

  .our-vision,
  .our-business,
  .culture,
  .people {
    display: flex;
    margin-left: 2.44rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    text-align: left;
  }

  .our-vision__description {
    margin-left: 6.3rem;
    margin-right: 2.5rem;
  }

  .easy__heading {
    font-size: 48px;
    margin-top: -3rem;
  }

  .team_numbers_image {
    background-image: url(/assets/about/desktop/image-team-members.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 275px;
    margin-top: 5.50rem;
  }

  .team__numbers__grids {
    border-top: none;
    margin-top: 3rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    border-bottom: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .team__numbers__text,
    .team__numbers__text1,
    .team__numbers__text2 {
      border-bottom: 1px solid rgba(54, 83, 107, 0.25);
      border-top: 1px solid rgba(54, 83, 107, 0.25);
    }

    .team__numbers__text1 {
      margin-left: 0.62rem;
      margin-right: 0.62rem;
    }

    p {
      color: $secondary-colors-san-juan-blue;
      font-family: 'Public Sans';
      font-size: 1rem;
      font-style: normal;
      font-weight: 100;
      line-height: 1.75rem;
      padding-top: 1.06rem;
    }

    .team__numbers {
      color: $primary-colors-dark-pink;
      font-family: 'DM Serif Display';
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 4.5rem;
      letter-spacing: -0.02694rem;
      padding-bottom: 1.06rem;
    }
  }

  .our-business__description {
    margin-left: 4rem;
    margin-right: 2.5rem;
  }

  .people__description {
    margin-left: 5.6rem;
    margin-right: 2.5rem;
  }

  .culture__description {
    margin-left: 5rem;
    margin-right: 2.5rem;
  }

  .our-vision {
    margin-top: 3.4rem;
  }
}


/* Styles for Desktop */
@media only screen and (min-width: 1440px) {

  // NAVBAR PART
  nav {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }


  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
    list-style-type: none;

    a {
      padding-right: 2.5rem;
      text-decoration: none;
      color: $secondary-colors-san-juan-blue;
      font-size: 0.9375rem;
      font-family: "Public Sans";
      opacity: 0.7;
      font-weight: 700;

      &:hover {
        color: $secondary-colors-san-juan-blue;
        opacity: 1;
      }
    }
  }

  .mobile__btn {
    display: none;
  }

  .bttn {
    width: 173px;
    height: 48px;
    border-radius: 24px;
    background: $primary-colors-dark-pink;
    box-shadow: 10px 10px 25px -10px #36536b40;
  }

  .nav {
    display: flex;
    margin: 50px 165px 30px 165px;

    .menu {
      flex-grow: 1;
      padding-left: 4rem;
      align-self: center;
    }
  }

  .logo {
    padding-top: 2px;
  }

  //      TEXT AND IMAGES SECTIONS  IN HOMEPAGE
  .benefits__wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625rem;
    max-width: 1320px;
  }

  .simple {
    text-align: left;

    .simple__wrapper {
      flex-direction: row-reverse;

      .simple__img {
        margin-left: 5rem;
      }

      .simple__heading {
        font-size: 48px;
        margin-left: 9.31rem;
        margin-top: -3rem;
      }

      .simple__text {
        max-width: 500px;
        margin-left: 9.31rem;
      }
    }
  }

  .easy {
    text-align: left;

    .easy__wrapper {
      flex-direction: row;

      .easy__img {
        margin-right: 7rem;
      }

      .easy__heading {
        font-size: 48px;
        margin-right: 9.31rem;
        margin-top: -3rem;
      }

      .easy__text {
        max-width: 400px;
        margin-right: 9.31rem;
      }
    }
  }

  // ABBOUT PART
  .about__heading {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-right: 28.12rem;
    margin-left: 16.25rem;
    margin-top: 5.13rem;
    text-align: left;
  }

  .our-vision,
  .our-business,
  .culture,
  .people {
    display: flex;
    margin-left: 16.25rem;
    margin-bottom: 3.75rem;
    margin-top: 4.5rem;
    text-align: left;

    .our-vision__description {
      margin-left: 10rem;
      margin-right: 16.25rem;
    }

    .our-business__description {
      margin-left: 7.8rem;
      margin-right: 16.25rem;
    }

    .people__description {
      margin-left: 9.5rem;
      margin-right: 16.25rem;
    }

    .culture__description {
      margin-left: 8.8rem;
      margin-right: 16.25rem;
    }
  }

  .our-vision {
    margin-top: 3.25rem;
  }

  .team_numbers_image {
    background-image: url(/assets/about/desktop/image-team-members.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 6rem;
  }

  .team__numbers__grids {
    border-top: none;
    margin-top: 3rem;
    padding: 1rem;
    margin-left: 10.61rem;
    margin-right: 10.61rem;
    border-bottom: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .team__numbers__text,
    .team__numbers__text1,
    .team__numbers__text2 {
      border-bottom: 1px solid rgba(54, 83, 107, 0.25);
      border-top: 1px solid rgba(54, 83, 107, 0.25);
    }

    .team__numbers__text1 {
      margin-left: 1.87rem;
      margin-right: 1.87rem;
    }

    p {
      color: $secondary-colors-san-juan-blue;
      font-family: 'Public Sans';
      font-size: 1rem;
      font-style: normal;
      font-weight: 100;
      line-height: 1.75rem;
      padding-top: 1.06rem;
    }

    .team__numbers {
      color: $primary-colors-dark-pink;
      font-family: 'DM Serif Display';
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 4.5rem;
      letter-spacing: -0.02694rem;
      padding-bottom: 1.06rem;
    }
  }
}