/* Styles for Mobile */


/* Styles for Tablet */
@media only screen and (min-width: 768px) and (max-width: 1440px) {
    body {
        background-color: #82ae82;
    }
    
}

/* Styles for Desktop */
@media only screen and (min-width: 1440px) {
    body {
        background-color: #afaf93;
    }
    nav{ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }}
}