/* Styles for Mobile */
@media only screen and (min-width: 375px) and (max-width: 767.5px) {
    .benefits__wrapper {
        max-width: 460px;
    }
}

/* Styles for Tablet */
@media only screen and (min-width: 768px) and (max-width: 1440px) {
    body {
        background-color: #82ae82;
    }

    .hamburger {
        display: none;
    }

    .menu {
        display: flex;
        list-style-type: none;

        a {

            padding-right: 2.5rem;
            text-decoration: none;
            color: $secondary-colors-san-juan-blue;
            padding: 1rem;
            font-size: 0.9375rem;
            font-family: "Public Sans";
        }
    }

    .mobile__btn {
        display: none;
    }

    .bttn {
        width: 173px;
        height: 48px;
        border-radius: 24px;
        background: $primary-colors-dark-pink;
        box-shadow: 10px 10px 25px -10px #36536b40;
        margin-right: 2.5rem;
    }

    .nav {
        display: flex;
        justify-content: space-between;

        .menu {
            align-self: center;
        }
    }

    .logo {
        margin: 0.5rem 0 0 2.44rem;
    }

    .benefits__wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.625rem;
        max-width: 720px;
    }


}




/* Styles for Desktop */
@media only screen and (min-width: 1440px) {
    body {
        background-color: #afaf93;
    }

    .hamburger {
        display: none;
    }

    .menu {
        display: flex;
        list-style-type: none;

        a {
            padding-right: 2.5rem;
            text-decoration: none;
            color: $secondary-colors-san-juan-blue;
            ;
            font-size: 0.9375rem;
            font-family: "Public Sans";
        }
    }

    .mobile__btn {
        display: none;
    }

    .bttn {
        width: 173px;
        height: 48px;
        height: 3rem;
        border-radius: 24px;
        background: $primary-colors-dark-pink;
        box-shadow: 10px 10px 25px -10px #36536b40;
    }

    .nav {
        display: flex;

        .menu {
            flex-grow: 1;
            padding-left: 4rem;
            align-self: center;

        }

    }

    .logo {
        margin-left: 10.31rem;
        margin-top: 0.5rem;
    }

    .benefits__wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.625rem;
        max-width: 1320px;
    }

}