/* Styles for Mobile */
@media only screen and (min-width: 375px) and (max-width: 767.5px) {

    //      TEXT AND IMAGES SECTIONS
    .benefits__wrapper {
        max-width: 460px;
    }

    .simple__heading {
        font-size: 36px;
        margin-top: -1rem;
    }

    .simple__text {
        max-width: 460px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .easy__heading {
        font-size: 36px;
        margin-top: -1rem;
    }

    .easy__text {
        max-width: 460px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* Styles for Tablet */
@media only screen and (min-width: 768px) and (max-width: 1439.5px) {
    body {
        background-color: #82ae82;
    }

    //      NAVBAR PART
    .hamburger {
        display: none;
    }

    .menu {
        display: flex;
        list-style-type: none;

        a {

            padding-right: 2.5rem;
            text-decoration: none;
            color: $secondary-colors-san-juan-blue;
            padding: 1rem;
            font-size: 0.9375rem;
            font-family: "Public Sans";
            opacity: 0.7;

            &:hover {
                color: $secondary-colors-san-juan-blue;
                opacity: 1;
            }
        }
    }

    .mobile__btn {
        display: none;
    }

    .bttn {
        width: 173px;
        height: 48px;
        border-radius: 24px;
        background: $primary-colors-dark-pink;
        box-shadow: 10px 10px 25px -10px #36536b40;
        margin-right: 2.5rem;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        margin: 50px 40px 30px 39px;

        .menu {
            align-self: center;
        }
    }

    .logo {
        margin: 0.2rem 0 0 2.44rem;
    }

    //        TEXT AND IMAGES SECTIONS
    .benefits__wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.625rem;
        max-width: 720px;
    }

    .simple__heading {
        font-size: 48px;
        margin-top: -3rem;
    }

    .simple__img {
        max-height: 100%;
        width: auto;
    }

    .easy__heading {
        font-size: 48px;
        margin-top: -3rem;
    }
}


/* Styles for Desktop */
@media only screen and (min-width: 1440px) {
    body {
        background-color: #afaf93;
    }

    //  NAVBAR PART
    nav {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }


    .hamburger {
        display: none;
    }

    .menu {
        display: flex;
        list-style-type: none;

        a {
            padding-right: 2.5rem;
            text-decoration: none;
            color: $secondary-colors-san-juan-blue;
            font-size: 0.9375rem;
            font-family: "Public Sans";
            opacity: 0.7;

            &:hover {
                color: $secondary-colors-san-juan-blue;
                opacity: 1;
            }
        }
    }

    .mobile__btn {
        display: none;
    }

    .bttn {
        width: 173px;
        height: 48px;
        border-radius: 24px;
        background: $primary-colors-dark-pink;
        box-shadow: 10px 10px 25px -10px #36536b40;
    }

    .nav {
        display: flex;
        margin: 50px 165px 30px 165px;

        .menu {
            flex-grow: 1;
            padding-left: 4rem;
            align-self: center;
        }
    }

    .logo {
        padding-top: 2px;
    }


    //  TEXT AND IMAGES SECTIONS
    .benefits__wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.625rem;
        max-width: 1320px;
    }

    .simple {
        text-align: left;

        .simple__wrapper {
            flex-direction: row-reverse;

            .simple__img {
                margin-left: 5rem;
            }

            .simple__heading {
                font-size: 48px;
                margin-left: 9.31rem;
            }

            .simple__text {
                max-width: 500px;
                margin-left: 9.31rem;
            }
        }
    }

    .easy {
        text-align: left;

        .easy__wrapper {
            flex-direction: row;

            .easy__img {
                margin-right: 7rem;
            }

            .easy__heading {
                font-size: 48px;
                margin-right: 9.31rem;
            }

            .easy__text {
                max-width: 400px;
                margin-right: 9.31rem;
            }
        }
    }
}