/* Styles for Mobile */
@media only screen and (min-width: 375px) and (max-width: 768px) {
    .benefits__wrapper {
        max-width: 460px;
    }
}

/* Styles for Tablet */
@media only screen and (min-width: 768px) and (max-width: 1440px) {
    body {
        background-color: #82ae82;
    }
    .benefits__wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.625rem;
        max-width: 720px;
      }
   
}

/* Styles for Desktop */
@media only screen and (min-width: 1440px) {
    body {
        background-color: #afaf93;
    }
    nav{ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }}
    .benefits__wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.625rem;
        max-width: 1320px;
      }
}