@use "variables";

.ovrflw {
    overflow: hidden;
    position: relative;
}

.ovrflw__simple {
    position: relative;
    overflow-x: clip;
}

.contnr__positioning {
    display: flex;
    justify-content: center;
}

.bubble__top {
    width: calc(48.75rem + (100vw - 23.438rem) * 0.1);
    height: calc(48.75rem + (100vw - 23.438rem) * 0.1);
    border-radius: calc(48.75rem + (100vw - 23.438rem) * 0.1);
    background-color: $secondary-colors-san-juan-blue;
    position: absolute;
    top: -34.3rem;
    opacity: 15%;
    z-index: 0;
}

.contnr_all__positioning {
    display: flex;
}

.bubble_all__top {
    width: calc(48.75rem + (100vw - 23.438rem) * 0.1);
    height: calc(48.75rem + (100vw - 23.438rem) * 0.1);
    border-radius: calc(48.75rem + (100vw - 23.438rem) * 0.1);
    background-color: $secondary-colors-san-juan-blue;
    position: absolute;
    top: -40rem;
    right: -30.25rem;
    opacity: 15%;
    z-index: -1;
}

.bubble__reference {
    width: calc(48.75rem + (100vw - 23.438rem) * 0.1);
    height: calc(48.75rem + (100vw - 23.438rem) * 0.1);
    border-radius: calc(48.75rem + (100vw - 23.438rem) * 0.1);
    background-color: $secondary-colors-san-juan-blue;
    position: absolute;
    top: -37.6rem;
    opacity: 15%;
    z-index: 0;
}

.bubble__footer {
    width: calc(48.75rem + (100vw - 23.438rem) * 0.1);
    height: calc(48.75rem + (100vw - 23.438rem) * 0.1);
    border-radius: calc(48.75rem + (100vw - 23.438rem) * 0.1);
    background-color: $secondary-colors-san-juan-blue;
    position: absolute;
    bottom: -37.5rem;
    opacity: 15%;
    z-index: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1439.5px) {

    .bubble__top {
        width: calc(59.313rem + (100vw - 48rem) * 0.2);
        height: calc(59.313rem + (100vw - 48rem) * 0.2);
        border-radius: calc(59.313rem + (100vw - 48rem) * 0.2);
        top: -41.5rem;
        z-index: -1;
    }

    .bubble_all__top {
        top: -32rem;
        right: -34rem;
    }

    .bubble__reference {
        top: -36.9rem;
    }

    .bubble__footer {
        bottom: -34rem;
        right: -26.5rem;
    }
}


@media only screen and (min-width: 1440px) {


    .contnr__positioning {
        display: flex;
    }

    .bubble__top {
        width: calc(48.75rem + (100vw - 90rem) * 0.1);
        height: calc(48.75rem + (100vw - 90rem) * 0.1);
        border-radius: calc(48.75rem + (100vw - 90rem) * 0.1);
        top: -10.6rem;
        right: -9rem;
        z-index: -1;
    }

    .bubble_all__top {
        top: -39.8rem;
        right: -12.5rem;
    }

    .bubble__reference {
        top: -28rem;
        left: -20.8rem;
    }

    .bubble__simple {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        background-color: $secondary-colors-san-juan-blue;
        opacity: 15%;
        width: calc(48.75rem + (100vw - 90rem) * 0.4);
        height: calc(48.75rem + (100vw - 90rem) * 0.4);
        border-radius: 50%;
        z-index: -1;
        right: -25rem;
        top: 22rem;
    }

    .bubble_about__team {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $secondary-colors-san-juan-blue;
        opacity: 15%;
        width: calc(48.75rem + (100vw - 90rem) * 0.3);
        height: calc(48.75rem + (100vw - 90rem) * 0.3);
        border-radius: 50%;
        z-index: -1;
        left: -8.5rem;
        top: 18.5rem;
    }

    .bubble__footer {
        bottom: -40rem;
        right: -29rem;
    }
}