.partners__button {
    padding: 0.375rem 0.5rem;
    background-color: transparent;
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 24px;
    margin: 60px 0px 80px 0px;

    &:active {
        box-shadow: 0 1px #666;
        transform: translateY(4px);
    }
}

.ref__btn {
    background-color: transparent;
    color: $primary-colors-water-white;
    border: 1px solid $primary-colors-water-white;
    padding: 16px 32px 14px 32px;
}

.ref__btn:hover {
    background-color: $primary-colors-water-white;
    color: $secondary-colors-mirage-blue;
}

@media only screen and (min-width: 768px) and (max-width: 1439.5px) {
    .partners__button {
        margin: 32px 0px 88px 0px
    }
}

@media only screen and (min-width: 1440px) {
    .partners__button {
        align-items: left;
        margin: 32px 0px 88px 165px;
    }
}

.mobile__btn,
.bttn {
    &:hover {
        background-color: $secondary-colors-charm-pink;
        cursor: pointer;
    }

    &:active {
        box-shadow: 0 1px #666;
        transform: translateY(4px);
    }

    font-size: 0.9375rem;
    color: $primary-colors-water-white;
    font-family: 'Public Sans';
    border: none;
}