.partners__button {
    padding: 0.375rem 0.5rem;
    background-color: transparent;
    border: .0625rem solid transparent;
    text-align: center;
    cursor: pointer;
    font-size: 0.9375rem;
    font-weight: bold;
    border-radius: 1.5rem;
    margin: 3.9rem 0 5rem 0;
    z-index: 1;
    position: relative;

    &:active {
        box-shadow: 0 .0625rem #666;
        transform: translateY(4px);
    }
}

.ref__btn {
    background-color: transparent;
    color: $primary-colors-water-white;
    border: .0625rem solid $primary-colors-water-white;
    padding: .875rem 1.9rem .875rem 1.9rem;
}

.ref__btn:hover {
    background-color: $primary-colors-water-white;
    color: $secondary-colors-mirage-blue;
}

@media only screen and (min-width: 768px) and (max-width: 1439.5px) {
    .partners__button {
        margin: 2rem 0 5.5rem 0
    }
}

@media only screen and (min-width: 1440px) {
    .partners__button {
        align-items: left;
        margin: 2rem 0 5.5rem 10.3125rem;
    }
}

.mobile__btn,
.bttn {
    &:hover {
        background-color: $secondary-colors-charm-pink;
        cursor: pointer;
    }

    &:active {
        box-shadow: 0 .0625rem #666;
        transform: translateY(.25rem);
    }

    font-size: 0.9375rem;
    color: $primary-colors-water-white;
    font-family: 'Public Sans';
    border: none;
}