@media only screen and (max-width: 767.5px) {
    .flex__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 12rem;
    }

    .form__title {
        color: $secondary-colors-san-juan-blue;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: -0.246px;
        margin: 1.5rem 2rem 0 1.5rem;
        width: 327px;
        height: 116px;

        P {
            line-height: 2.25rem;
        }

    }

    .form__page {
        margin-top: 2rem;

        input {
            width: 20.4375rem;
            height: 2.625rem;
            margin: 0.5rem 1.5rem 1rem 1rem;
            background-color: transparent;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 1px solid $secondary-colors-san-juan-blue;
            color: $secondary-colors-san-juan-blue;
            font-family: 'Public Sans';
            font-size: 0.9375rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5625rem;
            letter-spacing: -0.00719rem;

            &:focus {
                outline: none;

                &::placeholder {
                    opacity: 1;
                }
            }

            &::placeholder {
                position: relative;
                left: 1.2rem;
                bottom: 0.5rem;
                opacity: 0.5;
            }


        }

        textarea {
            resize: none;
            margin: 0.5rem 1rem 2rem 1rem;
            background-color: transparent;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 1px solid $secondary-colors-san-juan-blue;
            color: #36536B;
            font-family: 'Public Sans';
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 1.5625rem;
            letter-spacing: -0.00719rem;
            width: 20.4375rem;
            height: 5.5625rem;

            &:focus {
                outline: none;

                &::placeholder {
                    opacity: 1;
                }
            }

            &::placeholder {
                position: fixed;
                left: 1.2rem;
                opacity: 0.5;
            }
        }

        .check {
            margin: 0 0 0 0.9rem;
            width: 1.5rem;
            height: 1.5rem;
            opacity: 0.25;
            background: transparent;
            color: black;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }

            &:focus {
                opacity: 1;
            }

            &:checked {
                accent-color: $secondary-colors-charm-pink;
                opacity: 1;
            }
        }

        label {
            position: relative;
            float: right;
            width: 17.3125rem;
            color: $secondary-colors-san-juan-blue;
            font-family: 'Public Sans';
            font-size: 0.9375rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5625rem;
            letter-spacing: -0.00719rem;
            margin: 0.2rem 1.4rem 0 0;
            bottom: 0.9rem;
        }

        .bttn__form {
            margin: 0.6rem 0rem 5rem 1rem;
            width: 9.5rem;
            height: 3rem;
            padding: 0.375rem 0.5rem;
            background-color: transparent;
            opacity: 1;
            color: $secondary-colors-san-juan-blue;
            border: 1px solid $secondary-colors-san-juan-blue;
            text-align: center;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            border-radius: 24px;

            &:hover {
                background-color: $secondary-colors-san-juan-blue;
                color: $primary-colors-water-white;
            }

            &:active {
                box-shadow: 0 1px #666;
                transform: translateY(4px);
            }

        }
    }

    .partners__logo__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10rem;
    }

    .partners__title {
        width: 20.4375rem;
        color: #36536B;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 1.5rem;
        opacity: 0.75;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: -0.01156rem;

    }

    .partners__logos__form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        gap: 2.5rem;
        margin: 2rem 4rem -2rem 3.5rem;

    }
}

//  TABLET !!!!!!!!!!!!!!!!!!!!!

@media only screen and (min-width: 768px) and (max-width: 1439.5px) {
    .flex__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 50vw;
    }

    .form__title {
        color: $secondary-colors-san-juan-blue;
        color: #36536B;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: -0.02306rem;
        margin: 2.2rem 0.5rem 0.7rem 0;
        width: 30.8125rem;
        height: 11.125rem;

        P {
            line-height: 3.5rem;
        }

    }

    .form__page {
        margin-top: 2.6rem;

        input {
            width: 27.8125rem;
            height: 2.625rem;
            margin: 0 1rem 1.5rem 1rem;
            background-color: transparent;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 1px solid $secondary-colors-san-juan-blue;
            color: $secondary-colors-san-juan-blue;
            font-family: 'Public Sans';
            font-size: 0.9375rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5625rem;
            letter-spacing: -0.00719rem;

            &:focus {
                outline: none;

                &::placeholder {
                    opacity: 1;
                }
            }

            &::placeholder {
                position: relative;
                left: 1.2rem;
                bottom: 0.5rem;
                opacity: 0.5;
            }
        }

        textarea {
            resize: none;
            margin: 0 1rem 2rem 1rem;
            background-color: transparent;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 1px solid $secondary-colors-san-juan-blue;
            color: $secondary-colors-light-juan-blue;
            font-family: 'Public Sans';
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 1.5625rem;
            letter-spacing: -0.00719rem;
            width: 27.8125rem;
            height: 5.5625rem;

            &:focus {
                outline: none;

                &::placeholder {
                    opacity: 1;
                }
            }

            &::placeholder {
                position: fixed;
                left: 1.2rem;
                opacity: 0.5;
            }
        }

        .check {
            margin: 0 0 0 1rem;
            width: 1.5rem;
            height: 1.5rem;
            opacity: 0.25;
            background: transparent;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }

            &:focus {
                opacity: 1;
            }

            &:checked {
                accent-color: $secondary-colors-charm-pink;
                opacity: 1;
            }
        }

        label {
            position: relative;
            float: right;
            width: 24.6875rem;
            color: $secondary-colors-san-juan-blue;
            font-family: 'Public Sans';
            font-size: 0.9375rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5625rem;
            letter-spacing: -0.00719rem;
            margin: 0.4rem 1rem 0 0;
            bottom: 1rem;
        }

        .bttn__form {
            margin: 0.4rem 0 4rem 1.1rem;
            width: 9.5rem;
            height: 3rem;
            padding: 0.375rem 0.5rem;
            background-color: transparent;
            opacity: 1;
            color: $secondary-colors-san-juan-blue;
            border: 1px solid $secondary-colors-san-juan-blue;
            text-align: center;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            border-radius: 24px;

            &:hover {
                background-color: $secondary-colors-san-juan-blue;
                color: $primary-colors-water-white;
            }

            &:active {
                box-shadow: 0 1px #666;
                transform: translateY(4px);
            }
        }
    }

    .partners__logo__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 5rem;
    }

    .partners__title {
        opacity: 0.75;
        width: 26.5125rem;
        color: #36536B;
        text-align: center;
        font-family: 'DM Serif Display';
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: -0.01156rem;

    }

    .partners__logos__form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        gap: 3rem 5.3rem;
        margin: 2.6rem 0 1.7rem 0;

    }
}

// DESKTOP VERSION !!!!!!
@media only screen and (min-width: 1440px) {
    .form__box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10.8rem -6rem 0;

    }

    .flex__box {
        margin: 0 -10rem;
    }

    .form__title {
        color: $secondary-colors-san-juan-blue;
        color: #36536B;
        text-align: left;
        font-family: 'DM Serif Display';
        font-size: 3.5rem;
        font-weight: 400;
        letter-spacing: -0.02306rem;
        margin: 3.2rem 0.5rem 0 21rem;
        width: 45.625rem;
        height: 11.125rem;

        P {
            line-height: 3.5rem;
        }

    }

    .form__page {
        margin: 2.9rem 13rem;
        display: flex;
        flex-direction: column;

        input {
            position: relative;
            width: 27.8125rem;
            height: 2.625rem;
            margin: -0.2rem 0 0.6rem 8.2rem;
            background-color: transparent;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 1px solid $secondary-colors-san-juan-blue;
            color: $secondary-colors-san-juan-blue;
            font-family: 'Public Sans';
            font-size: 0.9375rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5625rem;
            letter-spacing: -0.00719rem;
            bottom: 2.8rem;

            &::placeholder {
                position: relative;
                left: 1.2rem;
                bottom: 0.6rem;
                opacity: 0.5;
            }

            &:focus {
                outline: none;

                &::placeholder {
                    opacity: 1;
                }
            }
        }

        textarea {
            position: relative;
            resize: none;
            margin: -0.3rem 1rem 2rem 8.2rem;
            background-color: transparent;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 1px solid $secondary-colors-san-juan-blue;
            color: $secondary-colors-san-juan-blue;
            font-family: 'Public Sans';
            font-size: 0.9375rem;
            font-weight: 400;
            line-height: 1.5625rem;
            letter-spacing: -0.00719rem;
            width: 27.8125rem;
            height: 5.5625rem;
            bottom: 2.8rem;

            &::placeholder {
                position: fixed;
                left: 1.2rem;
                opacity: 0.5;
            }

            &:focus {
                outline: none;

                &::placeholder {
                    opacity: 1;
                }
            }

        }

        .check {

            margin: 0.3rem 0 1rem 8.2rem;
            width: 1.5rem;
            height: 1.5rem;
            opacity: 0.25;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }

            &:focus {
                opacity: 1;
            }

            &:checked {
                accent-color: $secondary-colors-charm-pink;
                opacity: 1;
            }
        }


        label {
            position: relative;
            width: 20.6875rem;
            color: $secondary-colors-san-juan-blue;
            font-family: 'Public Sans';
            font-size: 0.9375rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem;
            letter-spacing: -0.00719rem;
            margin: 0 1rem 0 11.4rem;
            bottom: 6rem;
        }

        .bttn__form {
            margin: -1.6rem 5rem 0 8.3rem;
            width: 9.5rem;
            height: 3rem;
            padding: 0.375rem 0.5rem;
            background-color: transparent;
            opacity: 1;
            color: $secondary-colors-san-juan-blue;
            border: 1px solid $secondary-colors-san-juan-blue;
            text-align: center;
            cursor: pointer;
            font-size: 1rem;
            font-weight: bold;
            border-radius: 24px;

            &:hover {
                background-color: $secondary-colors-san-juan-blue;
                color: $primary-colors-water-white;
            }

            &:active {
                box-shadow: 0 1px #666;
                transform: translateY(4px);
            }
        }
    }

    .partners__logo__section {
        display: flex;
        flex-direction: column;
        align-items: start;

        margin: 0 0 0 0;
    }

    .partners__title {
        opacity: 0.75;
        width: 27.8125rem;
        color: #36536B;
        text-align: start;
        font-family: 'DM Serif Display';
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: -0.01156rem;
        margin: 5.5rem 6rem 2.6rem 0;

    }

    .partners__logos__form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        gap: 3rem 4.8rem;
        margin: 0 0 0 0;

    }

}