@use "variables";

.footer__section1 {
  text-align: center;

  #{&}__text {
    color: $secondary-colors-san-juan-blue;
    font-family: "DM Serif Display", serif;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: -0.01538rem;
    margin-top: 7rem;
  }
}

.footer__button {
  margin-top: 0.5rem;
  margin-bottom: 3.5rem;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

.footer__section2 {
  background-color: $secondary-colors-mirage-blue;
  text-align: center;
  padding: 2.5625rem 0 3.4375rem;
}

.footer__links ul {
  list-style-type: none;
  display: inline-flex;
  padding-right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.9375rem;
  padding-left: 0;
  margin: 2.22rem 0;
  position: relative;
  z-index: 1;

  li {
    a {
      text-decoration: none;
      color: $primary-colors-water-white;
      font-family: "Public Sans", sans-serif;
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.footer__icons {
  display: inline-flex;
  padding-right: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: .1875rem;
  position: relative;
  z-index: 1;

  a {
    svg {
      &:hover path {
        fill: $secondary-colors-charm-pink;
        opacity: 1;
      }
    }
  }
}

/* Styles for Tablet */
@media only screen and (min-width: 768px) and (max-width: 1439.5px) {

  .footer__section1 {

    #{&}__text {
      font-size: 3rem;
      line-height: 3.5rem;
      letter-spacing: -0.02306rem;
      margin-bottom: 2.5rem;
      margin-top: 4.6rem;
    }

    .footer__button {
      margin: 0 auto;
      margin-bottom: 6.2rem;
      margin-top: -0.3rem;
    }

    .footer__button__pink {
      margin: 0;
    }
  }

  .footer__section2 {
    display: flex;
    padding: 1.94rem 2.44rem;
    align-items: center;
    justify-content: space-between;
  }

  .footer__logoLinks {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 4.7rem;
  }

  .footer__links ul {
    list-style-type: none;
    display: inline-flex;
    padding-right: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
    padding-left: 0;
    margin: 0 4rem;
  }
}

/* Styles for Desktop */
@media only screen and (min-width: 1440px) {
  .footer__section1 {

    display: flex;
    justify-content: center;
    gap: 13.75rem;
    margin: 0 10.31rem;



    #{&}__text {
      font-size: 3rem;
      line-height: 3.5rem;
      letter-spacing: -0.02306rem;
      margin-top: 6rem;
      margin-bottom: 6rem;
      width: 27.8125rem;
      text-align: left;

    }

    .footer__button {
      margin-top: 6.25rem;
      margin-bottom: 6.25rem;
      left: 0;

    }

    .footer__button__pink {
      margin: 0;
    }
  }

  .footer__section2 {
    display: flex;
    padding: 1.94rem 10.25rem;
    align-items: center;
    justify-content: space-between;
  }

  .footer__logoLinks {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 31rem;
  }

  .footer__links ul {
    list-style-type: none;
    display: inline-flex;
    padding-right: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
    padding-left: 0;
    margin: 0 4rem;
    margin-bottom: 0.3rem;
  }
}