@use "variables";

@media only screen and (max-width: 767.5px) {
  .nav {
    margin: 40px 25px 20px 30px;
  }

  .hamburger {
    position: absolute;
    z-index: 4;
    top: 3.1rem;
    right: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &:active {
      box-shadow: 0 1px #666;
      transform: translateY(4px);
    }
  }

  .closeIcon {
    display: none;
    background-color: transparent;
    border: none;

  }

  .menu {
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.4s;
    top: -0.1rem;
    width: 300px;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: $secondary-colors-mirage-blue;
    color: white;
    list-style: none;
    padding-top: 8.69rem;
    text-align: center;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);


    li {
      text-align: center;
      font-family: "Public Sans";
      line-height: 2rem;
      padding-bottom: 2rem;

      a {
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        color: $primary-colors-water-white;
        opacity: 0.7;
      }
    }

    .mobile__btn {
      font-size: 0.9375rem;
      color: $primary-colors-water-white;
      font-family: 'Public Sans';
      border: none;
      font-size: 15px;
      font-weight: 700;
      width: 252px;
      height: 48px;
      border-radius: 1.5rem;
      background: $primary-colors-dark-pink;
      box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);

    }
  }

  .menu {
    li:nth-child(1) {
      padding-top: 0rem;
      position: relative;
    }

    li:nth-child(1)::before {
      content: "";
      position: absolute;
      left: 25px;
      top: -55px;
      width: 80%;
      height: 1.5px;
      background-color: $primary-colors-water-white;
      margin-top: 20px;
      opacity: 0.15;
    }
  }


  .showMenu {
    transform: translateY(0);
  }

  .bttn {
    display: none;
  }
}