.partners {
    background-color: $secondary-colors-mirage-blue;
    color: $primary-colors-water-white;
    text-align: center;
    font-weight: 400;

}

.sec__title {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.246px;
    margin: 57px 24px 16px 24px;
    font-family: 'DM Serif Display', serif;
}

.p__description {
    color: $primary-colors-water-white;
    opacity: 0.7;
    margin: 0px 24px 0px 24px;
}

.partners__logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 2rem;
    padding: 88px 47px 0px 47px;
}

@media only screen and (min-width: 768px) and (max-width: 1439.5px) {
    .partners__logos {
        grid-template-columns: repeat(3, 1fr);
        gap: 3.5rem;
        padding: 88px 116px 0px 116px;
    }

    .sec__title {
        letter-spacing: -0.369px;
        font-size: 48px;
        line-height: 56px;
        font-style: normal;
        margin: 67px 155px 24px 155px;
    }

    .p__description {
        margin: 0px 155px 0px 155px;
    }

    .logo__scale {
        transform: scale(1.2);
    }
}

@media only screen and (min-width: 1440px) {
    .partners__logos {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        margin: auto;
        padding: 187px 163px 184px 0px;
        flex: 1;
    }

    .partners__reverse {
        display: flex;
        flex-direction: row-reverse;
        gap: 130px;
    }

    .sec__title {
        letter-spacing: -0.369px;
        font-size: 48px;
        line-height: 56px;
        margin: 100px 131px 24px 165px;

    }

    .p__description {
        margin: 0px 131px 0px 165px;

    }

    .ref__text {
        text-align: left;
    }

    .logo__scale {
        transform: scale(1.2);
    }
}