

// Text fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');


// Main colors
$primary-colors-dark-pink: #BA4270;
$primary-colors-water-white: #FBFCFE;
$secondary-colors-san-juan-blue: #36536B;
$secondary-colors-mirage-blue: #1B262F;
$secondary-colors-charm-pink: #DA6D97;
$secondary-colors-light-juan-blue: #6C8294;
$primary-colors-background-color: #EDF3F8;


w-700{
    font-weight: 700;
}
w-400{
    font-weight: 400;
}

.h1__large {
    font-family: 'DM Serif Display', serif;
    font-size: 72px;
    line-height: 72px;
}

.h1__small {
    font-family: 'DM Serif Display', serif;
    font-size: 56px;
    line-height: 56px;
}

// .h2__both {
//     font-family: 'DM Serif Display', serif;
//     font-size: 48px;
//     line-height: 56px;
// }

.h3__big {
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    line-height: 40px;
}

.h3__small {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.h4__both {
    font-family:'DM Serif Display', serif;
    font-size: 24px;
    line-height: 32px;
}

.p__text {
    font-family: 'Public Sans', sans-serif;
    font-size: 15px;
    line-height: 28px;
}

// The example how we use thse variables in SCSS code:
// body {
//   background-color: $theme-colors;
// }