// Text fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');


// Main colors
$primary-colors-dark-pink: #BA4270;
$primary-colors-water-white: #FBFCFE;
$secondary-colors-san-juan-blue: #36536B;
$secondary-colors-mirage-blue: #1B262F;
$secondary-colors-charm-pink: #DA6D97;
$secondary-colors-light-juan-blue: #6C8294;
$primary-colors-background-color: #EDF3F8;


w-700 {
    font-weight: 700;
}

w-400 {
    font-weight: 400;
}

.h1__large {
    font-family: 'DM Serif Display', serif;
    font-size: 4.5rem;
    line-height: 4.5rem;
}

.h1__small {
    font-family: 'DM Serif Display', serif;
    font-size: 3.5rem;
    line-height: 3.5rem;
}

.h3__big {
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    line-height: 2.5rem;
}

.h3__small {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 1.563rem;
}

.h4__both {
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    line-height: 2rem;
}

.p__text {
    font-family: 'Public Sans', sans-serif;
    font-size: 0.938;
    line-height: 1.75rem;
}