
$primary-colors-dark-pink: #BA4270;
$primary-colors-water-white: #FBFCFE;
$secondary-colors-san-juan-blue: #36536B;
$secondary-colors-mirage-blue: #1B262F;
$secondary-colors-charm-pink: #DA6D97;
$secondary-colors-light-juan-blue: #6C8294;
$primary-colors-background-color: #EDF3F8;





// The example how we use thse variables in SCSS code:
// body {
//   background-color: $theme-colors;
// }