@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@400;700&display=swap");
.h1__large {
  font-family: "DM Serif Display", serif;
  font-size: 72px;
  line-height: 72px;
}

.h1__small {
  font-family: "DM Serif Display", serif;
  font-size: 56px;
  line-height: 56px;
}

.h2__both {
  font-family: "DM Serif Display", serif;
  font-size: 48px;
  line-height: 56px;
}

.h3__big {
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  line-height: 40px;
}

.h3__small {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.h4__both {
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  line-height: 32px;
}

.p__text {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  line-height: 28px;
}

* {
  box-sizing: border-box;
  min-width: 375px;
}

body {
  background-color: #EDF3F8;
}

/* Styles for Mobile */
/* Styles for Tablet */
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  body {
    background-color: #82ae82;
  }
  .tblt {
    display: block;
  }
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  .menu a {
    text-decoration: none;
  }
}
/* Styles for Desktop */
@media only screen and (min-width: 1440px) {
  body {
    background-color: #afaf93;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  .menu a {
    text-decoration: none;
  }
}
.h1__large {
  font-family: "DM Serif Display", serif;
  font-size: 72px;
  line-height: 72px;
}

.h1__small {
  font-family: "DM Serif Display", serif;
  font-size: 56px;
  line-height: 56px;
}

.h2__both {
  font-family: "DM Serif Display", serif;
  font-size: 48px;
  line-height: 56px;
}

.h3__big {
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  line-height: 40px;
}

.h3__small {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.h4__both {
  font-family: "DM Serif Display", serif;
  font-size: 24px;
  line-height: 32px;
}

.p__text {
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  line-height: 28px;
}

.nav {
  margin: 2.5rem;
}

@media screen and (max-width: 768px) {
  .hamburger {
    position: absolute;
    z-index: 4;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    cursor: pointer;
  }
  .closeIcon {
    display: none;
  }
  .menu {
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: -1rem;
    left: 300;
    width: 70%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: #333;
    color: white;
    list-style: none;
    padding-top: 8.69rem;
    text-align: center;
  }
  .menu li {
    font-size: 20px;
    padding-bottom: 2rem;
  }
  .menu li a {
    text-decoration: none;
    color: white;
  }
  .menu li:nth-child(1) {
    padding-top: 2.69rem;
  }
  .showMenu {
    transform: translateY(0);
  }
  .tblt {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */